.life-demo{
    border: 1px solid yellowgreen;
    padding: 30px;
    border-radius: 5px;
    a{
        display: block;
        border: 1px skyblue solid;
        padding: 8px;
        width: 300px;
        margin: 8px;
        border-radius: 3px;
        cursor: pointer;
    }
}
span{
    display: block;
}